<html ng-app="kubernetes-observer">
<script src="angular.min.js">
</script>
<script src="jquery-2.2.2.min.js">
</script>
<style type="text/css">
    .scrollable0{
        overflow:scroll;
        height:200px;
        width:700px;
        float: left;
    }
    .scrollable1{
        overflow:scroll;
        height:200px;
        width:700px;
        float: right;
    }
</style>
<head>
    <title>Kubernetes Observer</title>
</head>
<body>
<div ng-controller="podsCtrl">
    <select name="choose"  id="choose" value="{{choosenpod}}" ng-model="choose">
        <option ng-repeat="pod in pods" value="{{pod.metadata.name}}">{{pod.metadata.name}}</option>
    </select>
    Automatisch auf Nachfolgepod bleiben: <input type="checkbox" name="nachfolgepod" id="nachfolgepod" ng-model="nachfolgepod">
    <div >
        <div ng-repeat="url in urls">
            <div class="{{url.i}}"><pre>{{url.value}}</pre></div>
        </div>
    </div>

</div>

<script>
    var timeout=1000;
    function getGeneratorname(name){
        var tmp= name.split("-");
        var ret = "";
        for(var i= 0; i<tmp.length-1; i++){
            ret=ret+tmp[i]+"-";
        }
        return ret;
    }
    var stillquery=true;
    function cmp(a, b){

        if(a.length> b.length || b.length> a.length) return false;
        var tmp = true;
        for(var i=0; i< a.length; i++){
            tmp == tmp &&JSON.stringify(a[i].metadata)===JSON.stringify(b[i].metadata);
        }

        return tmp;
    }
    angular.module('kubernetes-observer', [])
            .controller('podsCtrl', function($scope, $http, $timeout, Getressource){
                var calls=null;
                var choosenpod=null;
                $scope.getressource = Getressource;
                $scope.urls =[];
                $scope.pods =[];

                $scope.$watch('choose', function(newValue, oldValue) {
                    //console.log(newValue, oldValue);
                    choosenpod=newValue;
                    $scope.pods.forEach(function (el) {
                        if (el.metadata.name === choosenpod) {
                            $scope.urls = el.urls;
                        }
                    });
                    stillquery=true;
                });

                var poller = function() {
                    if(stillquery)
                        $scope.urls.forEach(function(el){
                            $http.get(el.u).then(function(r){
                                r= r.data;
                                if(r!=el.value){
                                    el.value=r;
                                    $(".scrollable0").each(function(index, e){
                                        e.scrollTop= 9999999;
                                    });
                                    $(".scrollable1").each(function(index, e){
                                        e.scrollTop= 9999999;
                                    });
                                }
                            }, function(r){
                                stillquery=false;

                            });
                        });
                    $http.get('/api/v1/namespaces/default/pods').then(function(r) {
                        console.log($scope.pods , r.data.items);
                        if(!cmp($scope.pods , r.data.items)) {
                            $scope.pods = r.data.items;
                            $scope.pods.forEach(function (el) {
                                el.urls = [];
                                var i = 0;
                                el.spec.containers.forEach(function (e) {
                                    el.urls.push({
                                        u: "/api/v1/namespaces/" + el.metadata.namespace + "/pods/" + el.metadata.name + "/log?container=" + e.name + "&follow=false",
                                        i: "scrollable" + i
                                    });
                                    i++;
                                    i %= 2;
                                });

                            });
                        }
                        $scope.urls.forEach(function(el){
                            var tmp= Getressource(el.u);
                            if(tmp!=undefined && tmp!= "")
                                el.value=tmp;
                        });

                        if($scope.nachfolgepod){
                            $scope.pods.forEach(function(el){
                                if(el.metadata.generateName===getGeneratorname(choosenpod)){
                                    $scope.choose=el.metadata.name;
                                }
                            });

                        }
                    });
                    calls++;
                    $timeout(poller, timeout);

                };
                poller();

            })
            .factory('Getressource', function() {
                var content= undefined;
                return  function(url){
                        if(stillquery) $.ajax({
                           url: url,
                           success: function (result) {
                               content=  result;
                           },
                           error: function(result){
                               stillquery=false;
                           },
                           async: false
                        });
                        $(".scrollable0").each(function(index, el){
                            el.scrollTop= 9999999;
                        });
                        $(".scrollable1").each(function(index, el){
                            el.scrollTop= 9999999;
                        });
                        return content;
                    }

            });



</script>


</body>
</html>