<html ng-app="kubernetes-observer">
<script src="angular.min.js">
</script>
<script src="jquery-2.2.2.min.js">
</script>
<script src="bootstrap.min.js">
</script>
<link href="bootstrap.min.css" rel="stylesheet">
<link href="bootstrap-theme.min.css" rel="stylesheet">
<style type="text/css">
    .scrollable0{
        overflow:scroll;
        height:200px;
        width:700px;
        float: left;
    }
    .scrollable1{
        overflow:scroll;
        height:200px;
        width:700px;
        float: right;
    }
    .scrollable0 > pre{
        white-space:pre-wrap;
    }
    .scrollable1 > pre{
        white-space:pre-wrap;
    }
    .logo{
        width:100px;
        height:34px;
        float: right;
    }
</style>

<head>
    <title>Kubernetes Observer</title>
</head>
<body>
<div ng-controller="podsCtrl">
    <table class="form-inline table" width="100%">
        <tr>
            <td>
                <select name="chooseNameSpace"  id="chooseNameSpace" value="{{chooseNameSpace}}" ng-model="chooseNameSpace" class="form-control">
                    <option ng-repeat="namespace in namespaces" value="{{namespace.metadata.name}}">{{namespace.metadata.name}}</option>
                </select>
            </td>
            <td>
                <select name="choosePod"  id="choosePod" value="{{choosePod}}" ng-model="choosePod" class="form-control">
                    <option ng-repeat="pod in pods" value="{{pod.metadata.name}}">{{pod.metadata.name}}</option>
                </select>
            </td>
            <td>
                <label for="nachfolgepod">Switch to following pod:</label> <input type="checkbox" name="nachfolgepod" id="nachfolgepod" ng-model="nachfolgepod" class="checkbox" data-toggle="tooltip" data-placement="bottom" title="If checked you will automatically be redirected to the replacement for this pod">
            </td>
            <td>
                <label for="tailLines">TailLines: </label><input type="number" name="tailLines" ng-model="tailLines" id="tailLines" value="{{tailLines}}" class="form-control" data-toggle="tooltip" data-placement="bottom" title="0 for all lines">
            </td>
            <td>
                <label for="timeout">Timeout: </label><input type="number" name="timeout" ng-model="timeout" id="timeout" value="{{timeout}}" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Polling interval in ms">
            </td>
            <td>
                <a href="http://predic8.de"><img class="logo" src="logo.png"/></a>
            </td>
        </tr>
    </table>
    <hr />
    <div>
        <div ng-repeat="url in urls">
                <div class="{{url.i}}"><pre>{{url.value}}</pre></div>
        </div>
    </div>

</div>

<script>

    function getGeneratorname(name){
        var tmp= name.split("-");
        var ret = "";
        for(var i= 0; i<tmp.length-1; i++){
            ret=ret+tmp[i]+"-";
        }
        return ret;
    }
    var stillquery=true;
    var scroll=true;
    function cmp(a, b){
        if(a.length> b.length || b.length> a.length) return false;
        var tmp = true;
        for(var i=0; i< a.length; i++){
            tmp == tmp &&JSON.stringify(a[i].metadata)===JSON.stringify(b[i].metadata);
            if(!tmp) break;
        }
        return tmp;
    }
    angular.module('kubernetes-observer', [])
            .controller('podsCtrl', function($scope, $http, $timeout){
                var calls=null;
                var choosenPod=null;
                var choosennamespace="default";
                $scope.urls =[];
                $scope.pods =[];
                $scope.namespaces =[];
                $scope.tailLines=50;
                $scope.timeout=500;

                $scope.$watch('choosePod', function(newValue, oldValue) {
                    choosenPod=newValue;
                    $scope.pods.forEach(function (el) {
                        if (el.metadata.name === choosenPod) {
                            $scope.urls = el.urls;
                        }
                    });
                    stillquery=true;
                    scroll=true;

                });
                $scope.$watch('chooseNameSpace', function(newValue, oldValue) {
                    choosenPod=null;
                    choosennamespace=newValue;
                    $scope.urls =[];
                });


                $scope.$watch('tailLines', function(newValue, oldValue) {
                    $scope.tailLines=newValue;
                });
                $scope.$watch('timeout', function(newValue, oldValue) {
                    $scope.timeout=newValue;
                });


                var poller = function() {
                    if($scope.tailLines!=0){
                        tl="&tailLines=" + $scope.tailLines;
                    } else {
                        tl="";
                    }
                    if(scroll){ //to scroll or not to scroll?
                        $(".scrollable0").each(function (index, e) {
                            e.scrollTop = 9999999;
                        });
                        $(".scrollable1").each(function (index, e) {
                            e.scrollTop =  9999999;
                        });
                        scroll=!scroll; //Don't scroll anymore
                    }
                    if(stillquery) //Query for logchange until logs are not found anymore
                        $scope.urls.forEach(function(el){
                            $.get(el.u+tl, function(data,status,xhr){
                               if(status==="success"){
                                    r= data;
                                    if(r!=el.value){
                                        el.value=r;
                                        scroll=true;
                                    }
                               }
                               else stillquery=false;
                            });
                        });

                    $http.get('/api/v1/namespaces').then(function(r) {
                        //Download list of namespaces
                        if(!cmp($scope.namespaces, r.data.items)){
                            $scope.namespaces = r.data.items;
                            choosennamespace="default";
                            $scope.chooseNameSpace="default";
                        }
                    });

                    $http.get('/api/v1/namespaces/'+choosennamespace+'/pods').then(function(r) {
                        //Download podlist
                        if (!cmp($scope.pods, r.data.items)) {
                            $scope.pods = r.data.items;
                            $scope.pods.forEach(function (el) {
                                el.urls = [];
                                var i = 0;
                                el.spec.containers.forEach(function (e) {
                                    el.urls.push({
                                        u: "/api/v1/namespaces/" + el.metadata.namespace + "/pods/" + el.metadata.name + "/log?container=" + e.name,
                                        i: "scrollable" + i
                                    });
                                    i++;
                                    i %= 2;
                                });

                            });
                        }
                        if($scope.nachfolgepod) {
                            //Move to the following pod, if this one is replaced
                            if (choosenPod != null) {
                                $scope.pods.forEach(function (el) {
                                    if (el.metadata.generateName === getGeneratorname(choosenPod)) {
                                        $scope.choosenPod = el.metadata.name;
                                    }
                                });
                            }
                        }
                    });
                    calls++;
                    $timeout(poller, $scope.timeout);

                };
                poller();
            });



</script>


</body>
</html>